.news-main {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  min-height: 320px;
}
.news-main-title {
  display: flex;
  padding-top: 220px;
  font-family: inherit;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
}

.news {
  display: flex;
  flex-direction: column;
  // padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  background-color: #d9d9d9;
}
.news-date-title {
  text-align: center;
}

@media (min-width: 768px) {
  .news {
    flex-direction: row;
    padding-right: 20px;
    padding-left: 20px;
  }
  .news-img {
    width: 20%;
    height: auto;
  }
}

.news-image {
  flex: 1;
}

.news-img {
  width: 100%;
  height: auto;
}

.news-wrapper {
  display: flex;
  padding: 20px;
  align-items: center;
  text-align: center;
  flex: 1;
}

.news-date-title {
  margin-top: 20px;
}

.news-text {
  margin-bottom: 0;
  padding: 20px;
  background-color: #afcdcd;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgb(0 0 0 / 25%);
}
.news-only-text {
  margin-bottom: 0;
  padding: 20px;
  background-color: #afcdcd;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgb(0 0 0 / 25%);
  max-width: 610px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .news-img {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
  }
  .news-main {
    min-height: 700px;
  }

  .news-main-title {
    margin-top: auto;
  }
  .news-main-title {
    padding-top: 220px;
    margin-bottom: 30px;
    display: flex;
    font-family: inherit;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    color: #fff;
  }

  .news-date-title {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .news-img {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
  }

  .news-main {
    min-height: 420px;
  }
  .news-main-title {
    padding-top: 350px;
  }
}
