.sisters-main {
  // background-image: url(../../images/main-new.jpg);
  background-image: url(./../images/sisters.jpg);
  background-size: cover;
  background-position: center;
  // height: 40vh;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  min-height: 320px;
}
.sisters-main-title {
  display: flex;
  padding-top: 220px;
  font-family: inherit;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
}
.sisters-hero-title {
  line-height: 1.5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.sisters-about-wrapper {
  margin-top: 30px;
  background-color: #afcdcd;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgb(0 0 0 / 25%);
  padding: 10px;
  padding-top: 20px;
}
.sisters-about-text {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
  text-align: start;
  line-height: 1.5;
}

.sisters-about-text-bold {
  font-weight: 600;
}

.sisters-help-title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.sisters-background-color {
  margin-top: 50px;
  background-color: #d9d9d9;
  padding-top: 10px;
  padding-bottom: 30px;
}

.sisters-help-card {
  background-color: #fff;
  border-radius: 5px;
  // box-shadow: 5px 5px 2px rgb(0 0 0 / 25%);
  padding: 20px;
}

.sisters-help-item-text {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.sisters-help-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .sisters-main {
    min-height: 700px;
  }
  .sisters-main-title {
    padding-top: 400px;
    margin-bottom: 30px;
    display: flex;
    font-family: inherit;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    color: #fff;
  }
  .sisters-hero-title {
    font-size: 30px;
  }

  .sisters-about-wrapper {
    display: flex;
    padding: 30px;
  }
  .sisters-about-text {
    margin-left: 30px;
    font-size: 17px;
  }

  .sisters-help-item {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
// carousel
.carousel-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%;
  // padding: 20px;
  text-align: center;

  // border: 1px solid #ccc;
}

.sisters-carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #493340;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.swiper {
  display: block;
  width: 450px;
  height: 300px;
  margin: 20px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // // display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // -webkit-justify-content: center;
  // justify-content: center;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // align-items: center;
}
