.sisters-main {
  // background-image: url(../../images/main-new.jpg);
  background-image: url(./../images/sisters.jpg);
  background-size: cover;
  background-position: center;
  // height: 40vh;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  min-height: 320px;
}
.sisters-main-title {
  display: flex;
  padding-top: 220px;
  font-family: inherit;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
}
.sisters-hero-title {
  line-height: 1.5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.sisters-about-wrapper {
  margin-top: 30px;
  background-color: #afcdcd;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgb(0 0 0 / 25%);
  padding: 10px;
  padding-top: 20px;
}
.sisters-about-text {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
  text-align: start;
  line-height: 1.5;
}

.sisters-about-text-bold {
  font-weight: 600;
}

.sisters-help-title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.sisters-background-color {
  margin-top: 50px;
  background-color: #d9d9d9;
  padding-top: 10px;
  padding-bottom: 30px;
}

.sisters-help-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgb(0 0 0 / 25%);
  padding: 20px;
}

.sisters-help-item-text {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.sisters-help-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .sisters-main {
    min-height: 700px;
  }
  .sisters-main-title {
    padding-top: 400px;
    margin-bottom: 30px;
    display: flex;
    font-family: inherit;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    color: #fff;
  }
  .sisters-hero-title {
    font-size: 30px;
  }

  .sisters-about-wrapper {
    display: flex;
    padding: 30px;
  }
  .sisters-about-text {
    margin-left: 30px;
    font-size: 17px;
  }

  .sisters-help-item {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
// carousel
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
