.volounters-main {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  min-height: 320px;
}

.main-join-button {
  min-width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  padding: 5px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #499573;
  transition-property: background-color, box-shadow, scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 4;
  &:hover,
  &:focus {
    background-color: #499555;
    box-shadow: 5px 5px 2px rgb(0 0 0 / 25%);
    scale: 1.05;
  }
}

.volounters-main-title {
  display: flex;
  padding-top: 220px;
  font-family: inherit;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
}

.volounters-hero-title {
  line-height: 1.5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.volounters-img {
  margin-top: 20px;
}

.volounters-image {
  box-shadow: 5px 5px 2px rgb(0 0 0 / 25%);
  border-radius: 5px;
}

.volounters-item {
  padding: 10px;
  margin-top: 20px;
}
.volounters-item-background {
  margin-top: 20px;
  background-color: #afcdcd;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgb(0 0 0 / 25%);
  padding: 10px;
  margin-bottom: 30px;
}

.volounters-text {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.volounters-text-bold {
  font-weight: 600;
}

@media screen and (min-width: 1200px) {
  .volounters-main {
    min-height: 700px;
  }

  .volounters-text-img-wrapper {
    display: flex;
    align-items: center;
  }
  .volounters-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .volounters-img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .volounters-main {
    min-height: 420px;
  }
  .volunters-text-container {
    display: flex;
    justify-content: center;
  }
  .volounters-item-background {
    display: flex;
    justify-content: center;
    max-width: fit-content;
  }
  .volounters-text {
    max-width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .volounters-main-title {
    padding-top: 300px;
    margin-bottom: 30px;
    display: flex;
    font-family: inherit;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    color: #fff;
  }
  .volunters-main {
    min-height: 700px;
  }
  .volunters-text-container {
    display: flex;
    justify-content: center;
  }
  .volounters-item-background {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    margin-bottom: 0;
  }
  .volounters-text {
    max-width: 770px;
  }
  .volounters-img {
    width: 65%;
  }
  .volounters-text-img-wrapper {
    margin-bottom: 30px;
  }
  .volounters-hero-title {
    font-size: 30px;
    margin-top: 30px;
  }
}
