.general-main-title {
  display: flex;
  position: absolute;
  margin-top: -250px;
  margin-left: 30px;
  font-family: Involve;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.general-main-direction {
}

.donate-button {
  display: none;
}
