.sisters-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery a {
  margin: 5px;
}

.gallery img {
  width: 200px; /* Размер миниатюры */
  height: auto;
}
// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   .sisters-gallery {
//     justify-content: space-around;
//   }
// }

@media screen and (min-width: 1200px) {
  .sisters-gallery {
    justify-content: center;
  }
}
