.sisters-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery a {
  margin: 5px;
}

.gallery img {
  width: 200px;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .sisters-gallery {
    justify-content: center;
  }
}
