@media screen and (max-width: 480px) {
  .general-main {
    background-image: url("./../../images/mobile/main-m.jpg"); /* Изображение для мобильных устройств */
  }
  .save-life-main {
    background-image: url(../../images/mobile/save-life-m.jpg); /* Изображение для мобильных устройств */
  }
  .sisters-main {
    background-image: url(././images/mobile/sisters-m.jpg); /* Изображение для мобильных устройств */
  }
  .volounters-main {
    background-image: url(../../images/mobile/volounters-m.jpg); /* Изображение для мобильных устройств */
  }
  .news-main {
    background-image: url(../../images/mobile/news-m.jpg); /* Изображение для мобильных устройств */
  }
}

@media screen and (min-width: 481px) {
  .general-main {
    background-image: url(../../images/main.jpg); /* Изображение для мобильных устройств */
  }
  .save-life-main {
    background-image: url(../../images/save-life.jpg); /* Изображение для мобильных устройств */
  }
  .sisters-main {
    background-image: url(../../images/sisters.jpg); /* Изображение для мобильных устройств */
  }
  .volounters-main {
    background-image: url(../../images/volounters.jpg); /* Изображение для мобильных устройств */
  }
  .news-main {
    background-image: url(../../images/news.jpg); /* Изображение для мобильных устройств */
  }
}
