@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: Involve;
  src: url("../../fonts/Involve-Medium.ttf");
}

@font-face {
  font-weight: 600; /* Соответствует значению semi-bold */
  font-family: Involve;
  src: url("../../fonts/Involve-SemiBold.ttf");
}

@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: Involve;
  src: url("../../fonts/Involve-Bold.ttf");
}
